<% # Created by Jordan PAYET le 08/12/2019 %>
<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>

  <div class="field">
    <%= form.label :completed %>
    <%= form.datetime_select :completed %>
  </div>

  <div class="field">
    <%= form.label :du_date %>
    <%= form.datetime_select :du_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
