<% # Created by Jordan PAYET le 08/12/2019 %>
<p id="notice"><%= notice %></p>

<h1>Todos en cours</h1>
<%= current_user.id %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Detail</th>
      <th>Completed</th>
      <th>Du date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.name %></td>
        <td><%= todo.detail %></td>
        <td><%= todo.completed %></td>
        <td><%= todo.du_date %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h1>Todos passes</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Detail</th>
      <th>Completed</th>
      <th>Du date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todosP.each do |todo| %>
      <tr>
        <td><%= todo.name %></td>
        <td><%= todo.detail %></td>
        <td><%= todo.completed %></td>
        <td><%= todo.du_date %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_todo_path %>
