<% # Created by Jordan PAYET le 08/12/2019 %>
<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @todo.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @todo.detail %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @todo.completed %>
</p>

<p>
  <strong>Du date:</strong>
  <%= @todo.du_date %>
</p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
